body{
     background: linear-gradient(rgba(128, 128, 128,0.6), rgba(128, 128, 128,0.6)), url('https://wallpapercave.com/wp/wp2036897.jpg');
     background-size: cover;
}

h2{
    display : flex;
    justify-content : center;

    font-family: 'Dancing Script', cursive;
    border-bottom: 2px solid black;
    width : 870px;
    margin-left : 25%;
    font-size : 3em;
    font-weight : 900;

}

#mom{
    display : flex;
    justify-content : center;
    flex-wrap : wrap;
    margin-top : 200px;
    font-family : 'Dancing Script';
    font-size: 30px;
    font-weight : bold;
}
div{
    margin : 0% 19% 0% 24%;
}
span{
    margin-top : 15px;
    font-family: 'Chelsea Market', cursive;
    font-size : medium;

}

div + p{
    display : flex;
    justify-content : center;
    margin-top : 10%;
    font-family: 'Dancing Script';
    font-size : 3em;
    margin-bottom: 10px;
    margin-top: 120px;
}
button{
    margin: 0% 33% 0% 38%;
    font-size: 23px;
    font-family: cursive;
    background-color: #ffd8d8;
    border-radius: 20px;
    padding: 16px 35px;

}
#me{
    margin: 0% 0% 0% 0%;
    color : black;
}
button:hover{
    background-color : white;
}
a {
    text-decoration-line: none;

}
